@import "bootstrap/scss/bootstrap";
@import "./themes/index.scss";

* {
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.theme-button {
	position: fixed;
	right: 20px;
	bottom: 20px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.8);
}

.chat {
	overflow-y: auto;
	height: 70vh;
}

.chat-page {
	width: 80%;
	margin-inline: auto;
}

@media screen and (max-width: 576px) {
	.chat-page {
		width: 100%;
	}
	.theme-button {
		right: auto;
		left: 10px;
		bottom: auto;
		top: 70px;
		height: 40px;
		width: 40px;
	}
}
